# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

resources:
  repositories:
  - repository: oasis_repo # The name used to reference this repository in the checkout step
    type: bitbucket
    endpoint: Bitbucket - kavyagv
    name: ovaledgeinc/oasis_repo
    trigger: 
     - refs/heads/bug/RL6-20421

  
trigger:
- master

pool:
  vmImage: ubuntu-latest

steps:
- checkout: self
- checkout: oasis_repo
- task: Maven@4
  inputs:
    mavenPomFile: '/home/vsts/work/1/s/oasis_repo'
    publishJUnitResults: true
    testResultsFiles: '**/surefire-reports/TEST-*.xml'
    javaHomeOption: 'JDKVersion'
    mavenVersionOption: 'Default'
    mavenAuthenticateFeed: false
    effectivePomSkip: false
    sonarQubeRunAnalysis: false
  
- task: CopyFiles@2
  inputs:
    SourceFolder: '$(system.defaultworkingdirectory)'
    Contents: '**'
    TargetFolder: '/home/vsts/work/1/a/oasis_repo/webapp/target'
- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(build.artifactstagingdirectory)/oasis_repo/webapp/target'
    ArtifactName: 'drop'
    publishLocation: 'Container'
 
- task: S3Upload@1
  inputs:
    awsCredentials: 'ovaledge s3'
    regionName: 'ap-south-1'
    bucketName: 'qa-weekly-backups'
    sourceFolder: '$(build.artifactstagingdirectory)/oasis_repo/webapp/target'
    globExpressions: '**'

